<html>
<head>
	<title>Add Todo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<p>Enter time as YYYY-MM-DD HH:MM:SS</p>
	<form method="post" action="{% url 'Todo:addTodo' %}">
		<input type="hidden" value="{{ user }}" name="user"/>
    {% csrf_token %}
    {% for field in form %}
    
      <div class="field-wrap form-group">
       <label> {{ field.label_tag }}<span class="req">*</span></label>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </div>
      
    {% endfor %}
    <button class="btn btn-primary"/>Submit</button>
</form>
</body>
</html>